@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphism {
    background: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 3px solid rgb(236, 222, 214);
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}